body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
canvas {
  display: block;
  margin: auto;
  background: #000;
  border: 2px solid #fff;
}
h1 {
  margin: 10px;
}
p {
  font-size: 20px;
}
